* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}
article {
  border: 4px solid black;
  width: 825px;
  height: auto;
  margin: 50px auto;
  position: relative;
}
.sale {
  background-color: #ec2f2f;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  top: -17px;
  left: -34px;
  letter-spacing: 2px;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}
h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}
p strong {
  font-size: 23px;
}
.ship {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.dtext {
  margin-top: 10px;
  margin-bottom: 10px;
}
.info:link,
.info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}
.info:hover,
.info:active {
  text-decoration: none;
}
.box1 {
  background-color: black;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 16px;
}
.box2 {
  background-color: blue;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 16px;
}
.box3 {
  background-color: red;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 16px;
}
.box4 {
  background-color: orange;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 16px;
}
.box5 {
  background-color: yellowgreen;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 16px;
}
.box6 {
  background-color: brown;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 16px;
}
ul {
  list-style: square;
  margin-left: 20px;
}
li {
  margin-bottom: 10px;
}
button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border-top: 4px solid black;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}
button:hover {
  background-color: white;
  color: black;
}
