body {
  font-family: sans-serif;
}
article {
  border: 5px solid black;
}
h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
}
h3 {
  text-transform: uppercase;
  font-size: 16px;
}
p strong {
  font-size: 23px;
}
.ship {
  color: #777;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.info:link,
.info:visited {
  color: black;
}
.info:hover,
.info:active {
  text-decoration: none;
}
ul {
  list-style: square;
}
button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
