/*

---01

  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  font weights
  100 / 200 / 300 / 400 / 500 / 600 / 700 / 800 / 900

  line heights
  DEFAULT: 1 / 1.2 / 1.4 / 1.6 /

  ---02 COLORS
  Primary: #e67e22
  tints: fdf2e9
  shades:
  accents:
  greys: #555

  ---5 SHADOWS

  ---06 BORDER RADIUS

  ---07WHITESPACE

  - SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  N
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 62.5% */
  /* Percentage of users browsers font-size settings */
  font-size: 62.5%;
}

body {
  font-style: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.section-hero {
  background: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 9.6rem;
  align-items: center;
}

.hero-primary{
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.hero-description{
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  display: inline;
  text-decoration: none;
  font-size:2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* put transition on original state */
  transition: background-color 0.3s;
}

.btn--full:visited, .btn--full:link {
  background-color:#e67e22;
  color: #fff;
}

.btn--full:hover, .btn--full:active {
  background-color:#cf711f;
}

.btn--outline:visited, .btn--outline:link {
  background-color:#fff;
  color: #555;
}

.btn--outline:hover, .btn--outline:active {
  background-color:#fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm{
  margin-right: 1.6rem !important;
}
.hero-img{
  width: 100%;
}